@inherits UnqComponentBase

<RadzenCard Variant="@Variant.Filled" class="unq-login-title">
    <label class="unq-title">Login</label>
</RadzenCard>

<RadzenCard Variant="@Variant.Filled" class="unq-login-component">
    <RadzenStack Orientation="@Orientation.Vertical" Style="max-width:50vw;">

        
        <RadzenStack Orientation="@Orientation.Vertical" class="unq-row-container">

            <RadzenFormField Text="Username" Variant="@Variant.Outlined" class="unq-form-field">
                <RadzenTextBox @bind-Value="@this.Username" Name="UserID"></RadzenTextBox>
            </RadzenFormField>

            <RadzenFormField Text="Password" Variant="@Variant.Outlined" class="unq-form-field">
                <RadzenPassword @bind-Value="@this.Password" Name="UserPWD"></RadzenPassword>
            </RadzenFormField>

            <div class="unq-row-button">
                <RadzenButton Variant="@Variant.Text" Text="Login" Click="@(()=> btnLogin_OnClick())"></RadzenButton>
                <RadzenButton Variant="@Variant.Text" Text="Create Account" ButtonStyle="@ButtonStyle.Primary" Click="@(()=> btnRegister_OnClick())"/>
            </div>
        </RadzenStack>

    </RadzenStack>
</RadzenCard>
