@inherits UnqComponentBase

<RadzenTemplateForm TItem="UserLoginRegistrationModel" Data="@this.FormData" Submit="@form_OnSubmit" InvalidSubmit="@form_OnInvalidSubmit" class="unq-register-form">

<RadzenCard Variant="@Variant.Filled" class="unq-login-title">
    <label class="unq-title">Register</label>
</RadzenCard>


<RadzenCard Variant="@Variant.Filled" class="unq-newlogin-component">
    <RadzenStack Orientation="@Orientation.Vertical" Style="max-width:50vw;">


        <RadzenStack Orientation="@Orientation.Vertical" class="unq-row-container">

            <RadzenFormField Text="First Name" Variant="@Variant.Outlined" class="unq-form-field">
                <RadzenTextBox @bind-Value="@this.FormData.Person.FirstName" Name="FirstName" Change="@txBox_OnChange"></RadzenTextBox>
            </RadzenFormField>

            <RadzenFormField Text="Last Name" Variant="@Variant.Outlined" class="unq-form-field">
                <RadzenTextBox @bind-Value="@this.FormData.Person.LastName" Name="LastName" Change="@txBox_OnChange"></RadzenTextBox>
            </RadzenFormField>

            <RadzenFormField Text="Email" Variant="@Variant.Outlined" class="unq-form-field">
                <RadzenTextBox @bind-Value="@this.FormData.EmailAddress" Name="Email" Change="@txBox_OnChange"></RadzenTextBox>
            </RadzenFormField>

            <RadzenFormField Text="Username" Variant="@Variant.Outlined" class="unq-form-field">
                <RadzenTextBox @bind-Value="@this.FormData.Username" Name="Username" Change="@txBox_OnChange"></RadzenTextBox>
            </RadzenFormField>

            <div style="color:var(--rz-base-100);">
                <label>Password should contain ...</label>
                <ul style="margin:0;">
                    <li>at least 8 characters</li>
                    <li>at least one number</li>
                    <li>at least one capital letter</li>
                    <li>at least one special character</li>
                </ul>
            </div>

            <RadzenFormField Text="Password" Variant="@Variant.Outlined" class="unq-form-field">
                <RadzenPassword @bind-Value="@this.FormData.Password.NewPassword" Name="NewPWD" Change="@txBox_OnChange"></RadzenPassword>
            </RadzenFormField>

            <RadzenFormField Text="Confirm Password" Variant="@Variant.Outlined" class="unq-form-field">
                <RadzenPassword @bind-Value="@this.FormData.Password.ConfirmPassword" Name="RepeatPWD" Change="@txBox_OnChange"></RadzenPassword>
            </RadzenFormField>

                @if (this.ShowErrorMessage)
                {
                    <div style="color:lightcoral;">@this.ErrorMessage</div>
                }

            <div class="unq-row unq-row-save-button" style="display:flex;justify-content:flex-end;">
                <RadzenButton Variant="@Variant.Text" Text="Register"   ButtonStyle="@ButtonStyle.Primary" ButtonType="@ButtonType.Submit"  />
                <RadzenButton Variant="@Variant.Text" Text="Cancel"     ButtonStyle="@ButtonStyle.Secondary" Click="@(()=> btnCancel_OnClick())" Shade="@Shade.Lighter"/>
            </div>
        </RadzenStack>

    </RadzenStack>
</RadzenCard>
</RadzenTemplateForm>