@inherits LayoutComponentBase
<div class="page">
<RadzenComponents @rendermode="InteractiveServer"/>
<RadzenLayout class="unq-main-layout">

    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <div class="unq-menu-content-container">
                <div class="unq-menu-content-left">
                    <RadzenSidebarToggle Click="@(()=>{ this.Toggle_OnClick(); })" />
                    <RadzenLabel class="unq-main-layout-label">My Tools</RadzenLabel>
                    <ContactMenuComponent Visible="@ContactMenuIsVisible"></ContactMenuComponent>
                </div>
                <div class="unq-menu-content-right">
                    HHJHJH
                </div>
            </div>
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home"  Icon="home"  Path="/" Click="@(()=> this.SetActiveMenu(Menus.None) )"/>
            <RadzenPanelMenuItem Text="Contacts" Icon="group" Path="/Contacts" Click="@(()=> this.SetActiveMenu(Menus.ContactMenu) )"/>
            <RadzenPanelMenuItem Text="Budget" Icon="payments" Path="/Budget"/>
            <RadzenPanelMenuItem Text="Sales" Icon="area_chart" Path="Sales"/>
        </RadzenPanelMenu>
    </RadzenSidebar>

    <RadzenBody>
        <CascadingValue Name="Layout" TValue="MainLayout" Value="this">
            <div class="rz-p-4">
                @Body
            </div>
        </CascadingValue>
    </RadzenBody>

    <RadzenFooter>
        Footer
    </RadzenFooter>

</RadzenLayout>

</div>
@* 
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@