@inherits UnqComponentBase

@if(ShowErrorMessage)
{
    <div>@ErrorMessage</div>
}
else
{
    if(this.ContactList != null)
    {
        foreach(Contact contact in this.ContactList)
        {
            <RadzenStack Orientation="@Orientation.Horizontal" class="@GetListItemCSS(contact)" onclick="@(()=> ListItem_OnClick(contact))">
                <AvatarComponent Person="@contact.Person" Size="@AvatarComponent.AvatarSizes.Regular"/>
                <RadzenStack Orientation="@Orientation.Vertical" Gap="0">
                    <div style="font-size: 1.2rem;">@($"{contact.Person?.LastName}, {contact.Person?.FirstName}")</div>
                    <div style="font-size:.8rem;">@($"{contact.PrimaryEmail?.ToString()}")</div>
                </RadzenStack>
            </RadzenStack>
        }
    }
}