@inherits UnqComponentBase

@if(ShowErrorMessage)
{
    <div>@ErrorMessage</div>
}
else
{
    if(this.ContactList != null)
    {
        foreach(Contact contact in this.ContactList)
        {
            <RadzenStack Orientation="@Orientation.Horizontal" class="unq-contact-list-item" onclick="@(()=> ListItem_OnClick(contact.ID))">
                <div class="unq-profile-icon unq-profile-icon-regular">
                    <span>GS</span>
                </div>
                <RadzenStack Orientation="@Orientation.Vertical" Gap="0">
                    <div>@($"{contact.Person?.LastName}, {contact.Person?.FirstName}")</div>
                    <div>@($"{contact.PrimaryEmail?.ToString()}")</div>
                </RadzenStack>
            </RadzenStack>
        }
    }
}